    body {
        font-family: 'Avenir', sans-serif;
        font-size: 1rem
    }

    h1 {
        font-weight: bold
    }

    .eskimo-page-content h2,
    .eskimo-page-content h3 {
        display: grid;
        width: 100%;
        align-items: center;
        text-align: center;
        grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
        grid-gap: 20px
    }
    
    .eskimo-page-content h2:before,
    .eskimo-page-content h2:after,
    .eskimo-page-content h3:before,
    .eskimo-page-content h3:after {
        content: '';
        border-top: 2px solid
    }
    
    .text-justify {
        text-indent: 1em
    }

    :not(p) {
        text-indent: 0 !important
    }
   /*  p::first-letter {
      font-size: xx-large
    } */
    ol li {
        margin-bottom: 1rem
    }    

    .small-caps {
        font-variant: small-caps
    }